
body {
    font-family: sans-serif;
}

pre {
    padding: 10px;
    background-color: #eee;
}

div.info {
    margin-bottom: 40px;
}

span.keyword {
    color: #00f;
}

code.type {
    color: #555;
}

code.type a,
code.type a:visited
{
    color: #00a;
    text-decoration-style: dotted;
}
