
body {
    font-family: sans-serif;
}

div.navbar {
    margin: 20px 0;
}

@keyframes highlight {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1.0); }
}
span:target {
    display: inline-block;
    animation: highlight linear 0.3s;
    background-color: #ff0;
}

div.navbar a {
    background-color: #eee;
    padding: 5px 15px;
    color: #00a;
    text-decoration: none;
}
div.navbar a:hover {
    text-decoration: underline;
}

pre {
    padding: 10px;
    background-color: #eee;
    margin: 0;
    overflow-x: scroll;
}

div.info {
    margin-top: 0;
    padding-top: 10px;

    margin-bottom: 20px;
    padding-bottom: 10px;

    margin-left: 0;
    padding-left: 10px;

    margin-right: 0;
    border-left: 20px solid #ccc;
    background-color: #eee;
}

td {
    margin: 0;
    padding: 0;
}

td.module a {
    font-family: monospace;
    display: block;
    padding: 15px;
    background-color: #eee;
    margin-right: 10px;
    text-decoration: none;
    color: #00a;
}
td.module a:hover {
    text-decoration: underline;
}

td div.info {
    margin: 0;
}

span.keyword {
    color: #00f;
}

code.type {
    color: #555;
}

code.type a,
code.type a:visited
{
    color: #00a;
    text-decoration-style: dotted;
}
