
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding-top: 50px;
}

a {
    color: #00a;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: larger;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(200,200,200);
}

ul.indexlist {
    list-style-type: none;
    padding: 0;
}
ul.indexlist li a {
    padding: 5px 10px;
    display: block;
}

div.navbar {
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

@keyframes highlight {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1.0); }
}
span:target {
    display: inline-block;
    animation: highlight linear 0.3s;
    background-color: #ff0;
}

div.navbar a {
    background-color: #eee;
    padding: 5px 15px;
    color: #00a;
    text-decoration: none;
}
div.navbar a:hover {
    text-decoration: underline;
}

pre {
    padding: 10px;
    background-color: #eee;
    margin: 0;
    overflow-x: auto;
    border-left: 10px solid #ccc;
}

div.info {
    margin-top: 0;
    padding-top: 10px;

    margin-bottom: 20px;
    padding-bottom: 10px;

    margin-left: 0;
    padding-left: 10px;

    margin-right: 0;
    background-color: #eee;

    border-left: 10px solid transparent;

    /* font-weight: bold; */
}

div.info p {
    font-size: smaller;
    color: #444;
}

/* div.info pre.codepre {
     background-color: #ddd; 
} */

td {
    margin: 0;
    padding: 0;
}

td.module a {
    font-family: monospace;
    display: block;
    padding: 15px;
    background-color: #eee;
    margin-right: 10px;
    text-decoration: none;
    color: #00a;
}
td.module a:hover {
    text-decoration: underline;
}

td div.info {
    margin: 0;
}

span.keyword {
    color: #00f;
}

code.type {
    color: #555;
}

code.type a,
code.type a:visited
{
    color: #00a;
    text-decoration-style: dotted;
}
